numpy==1.24.2; python_version >= "3.8"
opencv-python==4.7.0.68; python_version >= "3.6"
pillow==9.4.0; python_version >= "3.7"
pydantic==1.10.4; python_version >= "3.7"
pyzbar==0.1.9
typing-extensions==4.5.0; python_version >= "3.7"
