/*
 * SPDX-FileCopyrightText: 2022-2026 David Bensoussan
 *
 * SPDX-License-Identifier: MPL-2.0
 */

#logo-dc {
    display: block;
    margin: auto;
    height: 150px;
}

.sidebar-scrollbox {
    top: 150px !important;
}
