<?xml version="1.0" ?>
<sdf version="1.6">
  <model name="qrcode_{{data}}">
    <static>true</static>
    <link name="link">
      <visual name="visual">
        <geometry>
          <mesh>
            <uri>model://qrcode_{{data}}/meshes/qrcode_{{data}}.dae</uri>
          </mesh>
        </geometry>
      </visual>
    </link>
  </model>
</sdf>
