<?xml version="1.0" ?>
<model>
    <name>warehouse</name>
    <version>1.0</version>
    <sdf version="1.9">model.sdf</sdf>
    <author>
        <name>Filipe Almeida</name>
        <email>filipe.almeida@mov.ai</email>
    </author>
    <description>A simple warehouse walls to use in warehouse simulations</description>
</model>
