/* based on https://github.com/badboy/mdbook-open-on-gh/ */
footer {
    font-size: 0.8em;
    text-align: center;
    border-top: 1px solid black;
    padding: 5px 0;
}

:root {
    --content-max-width: 1500px !important ;
}

/* Change font size of database diagrams */
.er.entityLabel {
    font-size: 1.6rem !important;
}
